* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
.h {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    height: 100%;
    z-index: 1;
}
h1 {
    position: absolute;
    top: calc(69% - 15%);
    font-size: 2vw;
    z-index: 10;
}
